html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

$border-radius: 20px;
$mobile-min-size: 44px;
$max-width: 1800px;

$line-height: 1.4;

$color-grey-light: #e7e7e7;
$color-gold: hsl(44, 32.4%, 39%);
$color-green: hsl(177, 87.7%, 27%);
$color-white: white;

$font-scale: 1.2;
$font-size: 1em;
$font-size-1: $font-size * $font-scale;
$font-size-2: $font-size-1 * $font-scale;
$font-size-3: $font-size-2 * $font-scale;
$font-size-4: $font-size-3 * $font-scale;
$font-size-5: $font-size-4 * $font-scale;
$font-size-6: $font-size-5 * $font-scale;
$font-size-7: $font-size-6 * $font-scale;
$font-size-8: $font-size-7 * $font-scale;

$text-shadow: 1px 1px 2px black;

@mixin box-shadow {
  box-shadow: 0 3px 19.7px rgba(0, 0, 0, 0.014),
    0 5.5px 26.4px rgba(0, 0, 0, 0.023), 0 8.2px 30.6px rgba(0, 0, 0, 0.03),
    0 11.8px 35.6px rgba(0, 0, 0, 0.037), 0 17.2px 45.4px rgba(0, 0, 0, 0.044),
    0 27px 80px rgba(0, 0, 0, 0.06);
}

@mixin box-shadow-small {
  box-shadow: 0 3px 19.7px rgba(0, 0, 0, 0.014),
    0 5.5px 26.4px rgba(0, 0, 0, 0.023), 0 8.2px 30.6px rgba(0, 0, 0, 0.03),
    0 11.8px 35.6px rgba(0, 0, 0, 0.037);
}

@mixin container {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
}

@mixin latin-name {
  font-style: italic;
}

@mixin title {
  font-size: $font-size-6;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: white;
}

@mixin section {
  padding: 4em;

  &__container {
    @include container;
  }
  &__title {
    @include title;
  }
}

$theme-bg: linear-gradient(110deg, rgba(black, 0.5), rgba(black, 0.1)),url("img/hero-bg.png");

.hero{
  background-image: $theme-bg;
  padding: 1em;
  &__line{
    
  }
  
  &__line::before{
    content: " ";
  }
  &__line::after{
    content: " ";
  }
  &__name{
    color: $color-white;
    text-shadow: $text-shadow;
    font-size: 3em;
    top: -.6ch;
    left: -.4ch;
    font-variant: small-caps;
  }

  &__latin{
    top: -.3ch;
    left: -.4ch;
    font-size: $font-size-2;
    text-shadow: $text-shadow;
    color: $color-white;
  }

  &__img{
    
    filter: drop-shadow(5px 5px 5px darken($color-green,15%));
    object-fit: contain;
  }
}

.species{
  max-width: $max-width;
  margin: 0 auto;
  &__title{
    color: $color-gold;
    font-size: $font-size-8;
  }

  &__list{


    display: flex;
    flex-wrap: wrap;
  }
}

.species-item{
  margin: 1em;
  display: flex;
  flex-basis: 300px;
  border-radius: $border-radius;
  @include box-shadow();
  overflow: hidden;
  
  &__img{
    flex-shrink: 0;
    object-fit: cover;
  }

  &__content{
    display: flex;
    flex-direction: column;
    padding: 2em;
  }

  &__header{
    margin-bottom: 1.5em;
  }


  &__title{
    font-size: $font-size-3;
    color: $color-green;

  }
  &__latin{
    color: $color-gold;
  }

  &__description{
    line-height: $line-height;
    margin-bottom: 2em;
  }

  &__footer{
    display: flex;
    justify-content: center;
    padding: 1em;
    border-top: 2px solid rgba($color-gold, .25);

    &__info{
      display: flex;
      margin: .5em;
      &__icon{
        margin-right: .25em ;
        color: $color-green;
      }
    }
  }


}


.support{
  height: 55vw;
  background: linear-gradient(110deg, rgba(black,.5) 400px, rgba(black, .10) 800px), url('img/support-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__description{
    width: 400px;
    padding: 2em;
    color: $color-white;
    line-height: $line-height;
    font-size: $font-size-2;
  }

  &__title{
    font-size: $font-size-8;
    text-shadow: $text-shadow;
    color: $color-white;
  }
  &__description{
    text-shadow: $text-shadow;
  }

  &__adopt{
    color: $color-green;
    padding: .5em 1em;
    background-color: $color-white;
    border-radius: $border-radius;
    font-size: $font-size;
    font-weight: bold;
    text-decoration: none;
  }
}

.life{
  &__title{
    color: $color-gold;
    font-size: $font-size-8;
  }
  &__list{
    display: grid;
    margin: 1em;
    grid-template-columns: 1fr;
  }
}

.life-card{
  position: relative;
  @include box-shadow-small();
  border-radius: $border-radius;
  height: 200px;
  padding: 2em;
  margin: 1em;

  &__title{
    padding: 1em 1em 1em 0;
    font-size: $font-size-3;
    color: $color-green;
  }
  &__title::before{
    content: "—";
    left: 1.1em;
    top: 1em;
    position: absolute;
    color: $color-gold;
  }

  &__title::after{
    content: "⟶";
    bottom: 1em;
    right: 1em;
    position: absolute;
    
    font-size: $font-size-2;
    color: $color-gold;
  }

}

.footer{
  background-image: $theme-bg;
  padding: 3em;
  color: $color-white;

  &__title{
    font-size: $font-size-5;
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__content{
    margin-bottom: 1em;

    &__info{
      margin-top: .5em;
    }
  }
}

@media screen and (max-width: 450px){
  .species-item__latin {
    visibility: hidden;
  }
}

@media screen and (max-width: 900px){
  .species-item{
    &__footer{
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1749px){
  .species-item{
    &__footer{
      flex-direction: column;
      align-items: center;
    }
  }
}


@media screen and (min-width: 800px){
  .species-item{
    flex-basis: 600px;
    &__img{
      width: 50%;
      max-width: 400px;
      height: 100%;

    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1299px) and (min-width:1749px){
  .species-item{
    &__footer{
      &__info::after{
        content: "•";
        margin: 1em;
        color: $color-gold;
      }
    }
  }
}

@media screen and (min-width: 1750px){
  .species-item{
    &__img{
      max-width: 320px;
    }
  }
}

@media screen and (min-width:600px){

.species-item{
  &__list{
    flex-direction: column;
  }
}

  .life {
    &__list{
      grid-template-columns: 1fr 1fr;
    }
  }
}