@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: linear-gradient(110deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("img/hero-bg.png");
  padding: 1em;
}

.hero__line::before {
  content: " ";
}

.hero__line::after {
  content: " ";
}

.hero__name {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 3em;
  top: -.6ch;
  left: -.4ch;
  font-variant: small-caps;
}

.hero__latin {
  top: -.3ch;
  left: -.4ch;
  font-size: 1.44em;
  text-shadow: 1px 1px 2px black;
  color: white;
}

.hero__img {
  -webkit-filter: drop-shadow(5px 5px 5px #043937);
          filter: drop-shadow(5px 5px 5px #043937);
  -o-object-fit: contain;
     object-fit: contain;
}

.species {
  max-width: 1800px;
  margin: 0 auto;
}

.species__title {
  color: #847243;
  font-size: 4.29982em;
}

.species__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.species-item {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 19.7px rgba(0, 0, 0, 0.014), 0 5.5px 26.4px rgba(0, 0, 0, 0.023), 0 8.2px 30.6px rgba(0, 0, 0, 0.03), 0 11.8px 35.6px rgba(0, 0, 0, 0.037), 0 17.2px 45.4px rgba(0, 0, 0, 0.044), 0 27px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 19.7px rgba(0, 0, 0, 0.014), 0 5.5px 26.4px rgba(0, 0, 0, 0.023), 0 8.2px 30.6px rgba(0, 0, 0, 0.03), 0 11.8px 35.6px rgba(0, 0, 0, 0.037), 0 17.2px 45.4px rgba(0, 0, 0, 0.044), 0 27px 80px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.species-item__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.species-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.species-item__header {
  margin-bottom: 1.5em;
}

.species-item__title {
  font-size: 1.728em;
  color: #08817b;
}

.species-item__latin {
  color: #847243;
}

.species-item__description {
  line-height: 1.4;
  margin-bottom: 2em;
}

.species-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  border-top: 2px solid rgba(132, 114, 67, 0.25);
}

.species-item__footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5em;
}

.species-item__footer__info__icon {
  margin-right: .25em;
  color: #08817b;
}

.support {
  height: 55vw;
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.5) 400px, rgba(0, 0, 0, 0.1) 800px), url("img/support-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.support__description {
  width: 400px;
  padding: 2em;
  color: white;
  line-height: 1.4;
  font-size: 1.44em;
}

.support__title {
  font-size: 4.29982em;
  text-shadow: 1px 1px 2px black;
  color: white;
}

.support__description {
  text-shadow: 1px 1px 2px black;
}

.support__adopt {
  color: #08817b;
  padding: .5em 1em;
  background-color: white;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.life__title {
  color: #847243;
  font-size: 4.29982em;
}

.life__list {
  display: -ms-grid;
  display: grid;
  margin: 1em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.life-card {
  position: relative;
  -webkit-box-shadow: 0 3px 19.7px rgba(0, 0, 0, 0.014), 0 5.5px 26.4px rgba(0, 0, 0, 0.023), 0 8.2px 30.6px rgba(0, 0, 0, 0.03), 0 11.8px 35.6px rgba(0, 0, 0, 0.037);
          box-shadow: 0 3px 19.7px rgba(0, 0, 0, 0.014), 0 5.5px 26.4px rgba(0, 0, 0, 0.023), 0 8.2px 30.6px rgba(0, 0, 0, 0.03), 0 11.8px 35.6px rgba(0, 0, 0, 0.037);
  border-radius: 20px;
  height: 200px;
  padding: 2em;
  margin: 1em;
}

.life-card__title {
  padding: 1em 1em 1em 0;
  font-size: 1.728em;
  color: #08817b;
}

.life-card__title::before {
  content: "—";
  left: 1.1em;
  top: 1em;
  position: absolute;
  color: #847243;
}

.life-card__title::after {
  content: "⟶";
  bottom: 1em;
  right: 1em;
  position: absolute;
  font-size: 1.44em;
  color: #847243;
}

.footer {
  background-image: linear-gradient(110deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("img/hero-bg.png");
  padding: 3em;
  color: white;
}

.footer__title {
  font-size: 2.48832em;
  font-weight: bold;
  margin-bottom: 1em;
}

.footer__content {
  margin-bottom: 1em;
}

.footer__content__info {
  margin-top: .5em;
}

@media screen and (max-width: 450px) {
  .species-item__latin {
    visibility: hidden;
  }
}

@media screen and (max-width: 900px) {
  .species-item__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1749px) {
  .species-item__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .species-item {
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
  }
  .species-item__img {
    width: 50%;
    max-width: 400px;
    height: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1299px) and (min-width: 1749px) {
  .species-item__footer__info::after {
    content: "•";
    margin: 1em;
    color: #847243;
  }
}

@media screen and (min-width: 1750px) {
  .species-item__img {
    max-width: 320px;
  }
}

@media screen and (min-width: 600px) {
  .species-item__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .life__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */